body {
  background-color: white;
  width: 1024px;
  height: 768px;
}

section {
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}

section div.left-column {
  width: 100vw;
  background-color: yellow;
  margin-bottom: 25px;
}

section div.right-column {
  width: 100vw;
  background-color: #01AB98;
  margin-bottom: 25px;
}

.homepage-header {
  color: #E0184E;
  background-color: #F8E7D0;
  font-size: 120px;
  position: relative;
  margin-bottom: 50px;
}

.about {
  display: flex;
}

.the-greenbrier-hotel {
  display: flex;
}

.hollywood-regency {
  display: flex;
}

.other-works {
  display: flex;
}

nav a {
  height: 65px;
  color: #BABABA;
  background-color: black;
  justify-content: space-between;
}

h2 {
  color: #E0184E;
  font-size: 80px;
  position: relative;
  top: 200px;
}

p {
  color: black;
  font-size: 25px;
  position: relative;
  top: 300px;
}

h1 {
  position:relative;
  top: 290px;
  left: 290px;
}
