body {
  background-color: white;
  background-image: url(jacmartiinez.github.io/project2/interiordesign_dorothydraper/assets/wallpaper.jpg);
  width: 1024px;
  height: 768px;
}


section {
  justify-content: space-between;
}

section div.left-column {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

section div.right-column {
  margin-bottom: 25px;
}

.homepage-header {
  color: #E0184E;
  background-color: #F8E7D0;
  font-size: 120px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
}

.about {
  display: flex;
}

.the-greenbrier-hotel {
  display: flex;
}

.hollywood-regency {
  display: flex;
}

.other-works {
  display: flex;
}

nav {
  background-color: black;
  height: 65px;
  width: 100vw;
}

nav a{
  color: #BABABA;
  font-size: 40px;
  margin: 50px;
}

h2 {
  color: #E0184E;
  font-size: 80px;
  position: relative;
  top: 200px;
}

p {
  color: black;
  font-size: 50px;
  position: relative;
  top: 300px;
  background-color: white;
  width: 500px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

h1 {
  position:absolute;
  top: 250px;
  left: 290px;
}
