body {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: left;
  width: 100vw;
  margin: 0 auto;
  align-items: center;
}

.full-width-nav {
  width: 100vw;
  background-color: black;
  color: #BABABA;
}
nav a{
  font-family: tangerine,sans-serif;
  font-weight: 400px;
  font-style: normal;
  color: #BABABA;
  text-decoration: none;
  font-size: 40px;
  margin: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
  top: 16px;
  text-align:center;
  width: 20%;
}

nav a:hover{
  background-color: #446E50;
  color: #BABABA;
  font-size: 40px;
  height: 75px;
}

.header-body-image {
  display: flex;
  margin: 25px;
  position: absolute;
  justify-content: center;
}


section div.image {
  position: absolute;
  top: 151px;
  left: 751px;
  width: 184;
  height: 360px;
}

h1 {
  color: #E0184E;
  font-family: tangerine,sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-size: 80px;
  top: 234px;
  left: 84px;
}

p {
  font-family: myriad-pro,sans-serif;
  font-style:normal;
  font-weight: normal;
  color: black;
  font-size: 20px;
  top: 10px;
  background-color: white;
  text-align: left;
  left:84px;
  top: 234px;
  width: 595px;
  height: 245px;
  position: absolute;
}

h2 {
  font-family: myriad-pro,sans-serif;
  font-style:normal;
  color: black;
  font-weight: normal;
  font-size: 18px;
  top: 10px;
  text-align: right;
  left:424px;
  top: 571px;
  width: 511px;
  height: 118px;
  position: absolute;
}


.embeded-video {
  display: flex;
  position: absolute;
}

section div.video{
  position: absolute;
  top: 565px;
  left: 84px;
}
