body {
  background-color: white;
  width: 1024px;
  height:3840px;
}

section {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.homepage-header {
  position: absolute;
  color: #E0184E;
  background-image: url("wallpaper.jpg");
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 120px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 1024px;
  margin-top: 50px;
}

.the-greenbrier-hotel {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 2000px;
  margin-top: 50px;
}

.hollywood-regency {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 3000px;
  margin-top: 50px;
}

.other-works {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 3840px;
  margin-top: 50px;
}

nav {
  display: flex;
  justify-content: left;
  width: 100vw;
  margin: 0 auto;
  align-items: center;
}

.full-width-nav {
  background-color: black;
  color: #BABABA;
  width: 100vw;
}
nav a{
  font-family: tangerine,sans-serif;
  font-weight: 400px;
  font-style: normal;
  color: #BABABA;
  text-decoration: none;
  font-size: 40px;
  margin: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
  top: 16px;
  text-align:center;
  width: 20%;
}

nav a:hover{
  background-color: #446E50;
  color: #BABABA;
  font-size: 40px;
  height: 75px;
}

h2{
  text-align: right;
  margin-right: 80px;
  color: #E0184E;
  font-family: tangerine,sans-serif;
  font-weight: 400px;
  font-style:normal;
  font-size: 80px;
}

a {
  color: #E0184E;
  font-family: tangerine,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  top: 561px;
  text-align: right;
}

a#about_readmore {
  display: block;
  margin-right: 80px;
}

a#the-greenbrier_readmore {
  display: block;
  margin-right: 80px;
}

a#hregency_readmore {
  display: block;
  margin-right: 80px;
}

a#other_readmore {
  display: block;
  margin-right: 80px;
}

a:hover {
  color: #397C7F;
  background-color: #ECF3F8;
  border-radius: 12px;
  font-family: tangerine,sans-serif;
  font-style: normal;
  font-size: 28px;
  top: 561px;
  right: 40px;
}
p {
  font-family: myriad-pro,sans-serif;
  font-weight: 400px;
  font-style:normal;
  color: black;
  font-size: 28px;
  top: 10px;
  background-color: white;
  padding: 80px;
  text-align: right;
}

h1 {
  position: absolute;
  background-color: white;
  width: 851px;
  height: 176px;
  font-size: 162px;
  justify-content: center;
  font-family: youngblood,sans-serif;
  font-weight: 400;
  font-style: normal;
}

#home.active,
#about.active,
#the-greenbrier-hotel.active,
#hollywood-regency.active,
#other-works.active {
  background-color: #446E50;
}

#myBtn {
  font-family: tangerine,sans-serif;
  font-weight: 400px;
  font-style: normal;
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #F0EDED;
  color: #E0184E;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #D7E5F0;
  color: #397C7F;
  font-size: 30px;
  font-weight: bold;
}
