body {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: left;
  width: 100vw;
  margin: 0 auto;
  align-items: center;
}

.full-width-nav {
  width: 100vw;
  background-color: black;
  color: #BABABA;
}
nav a{
  font-family: tangerine,sans-serif;
  font-weight: 400px;
  font-style: normal;
  color: #BABABA;
  text-decoration: none;
  font-size: 40px;
  margin: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
  top: 16px;
  text-align:center;
  width: 20%;
}

nav a:hover{
  background-color: #446E50;
  color: #BABABA;
  font-size: 40px;
  height: 75px;
}

h1 {
  position: absolute;
  color: #E0184E;
  font-family: tangerine,sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-size: 80px;
  top: 100px;
  margin-left: 84px;
  margin-bottom: 50px;
}

p {
  font-family: myriad-pro,sans-serif;
  font-style:normal;
  font-weight: normal;
  color: black;
  font-size: 20px;
  top: 10px;
  text-align: left;
  left:87px;
  top: 267px;
  width: 851px;
  height: 137px;
  position: absolute;
  align-content: 100vw;
  line-height: 35px;
}

section div.image {
  display: flex;
  position: absolute;
  top: 650px;
  margin-bottom: 50px;
  left: 84px;
  width: 851px;
  height: 197px;
  justify-content: space-between;
}
